{% extends 'base.html' %}

{% block title %}Your QR Code{% endblock %}

{% block content %}
<div class="container text-center">
    <h2 class="mt-4">Your QR Code</h2>
    <img src="data:image/png;base64,{{ qr_code }}" alt="QR Code" class="img-fluid my-4" style="max-width: 300px;">
    <a href="{% url 'welcome' %}" class="btn btn-primary">Go Back</a>
</div>
{% endblock %}

{% block extra_css %}
<style>
    /* Header Styling */
    h2 {
        color: #00796B;
        margin-bottom: 20px;
    }

    /* Button Styling */
    .btn-primary {
        background-color: #00796B;
        border-color: #00796B;
    }
    .btn-primary:hover {
        background-color: #00695C;
        border-color: #00695C;
    }
</style>
{% endblock %}
